* {
  margin: 0;
}

body {
  background: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}


.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app_dropdown {background: #fff !important;}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  flex-direction: column;
  display: flex;
  flex-grow: 1;

}

@media (max-width: 767px) {
  .app {
    flex-direction: column;
  }

  .app__right {
    margin-top: 20px;
  }

}

@media (max-width: 540px) {

  .app__stats {display: unset;}
  .infoBox:not(:last-child) {margin-right: 0 !important;}
  .infoBox {
    margin-top: 15px;
  }

  .app__header {display: unset;}
}